.container{
    width:30%;
    margin-left:25%;
    margin-right: 30%;
    display: flex;
    padding-left: 10%;
    padding-right: 10% ;
    flex-direction: column;
    
}
.form__input{
    width:30%;
}
.submit__button{
   position: absolute;
   width: 10%;
   padding: 1rem;
   left:45%;
   top:65%;
}